**Denise Dodd: Pet Database (Python Functions and SQL Joins)**

**In this exercise will us both a persons table and pets table.**

**The id column in the persons table (which is an integer) serves as the 
primary key for that table and as a foreign key for the pet table, which is linked via the 
owner_id column.**

**The persons table has the following columns:**

• first_name: The first name of the person

• last_name: The last name of the person (can be "null")

• age: The age of the person

• city: The city from where he/she is from

• zip_code: The zip code of the city

**The pets table has the following columns:**


• pet_name: The name of the pet.

• pet_type: What type of pet it is, for example, cat, dog, and so on. Due to a lack of 
further information, we do not know which number represents what, but it is an 
integer and can be null.

• treatment_done: It is also an integer column, and 0 here represents "No", whereas 1 
represents "Yes".

**I will be completing the below steps:**

**1. Connect to petsDB and check whether the connection has been successful.**

**2. Find the different age groups in the persons database.**

**3. Find the age group that has the maximum number of people.**

**4. Find the people who do not have a last name.**

**5. Find out how many people have more than one pet.**

**6. Find out how many pets have received treatment.**

**7. Find out how many pets have received treatment and the type of pet is known.**

**8. Find out how many pets are from the city called east port.**

**9. Find out how many pets are from the city called east port and who received a treatment.**

In [116]:
import sqlite3
import os

# Step 1 cont
# Create a function to determine if connection is successful.
# In try loop, execute a query to return first row of 'persons' table in database.
# If query was able to be executed return 'True'.
# If query cannot execute, print error recieved and return 'False'.
def is_opened(conn):
    print("\033[1mStep 1: Connect to petsDB and check whether the connection has been successful.\033[0m")
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        print('Connection Successul.')
        return True
    except sqlite3.ProgrammingError as error:
        print("Connection closed {}".format(error))
        return False

# Step 2
# Execute query to retirve the different ages and count of each age variable from persons table.
# Group and order by age from youngest to oldest.
# Fetch the results of the above described query.
# Use for loop to print results of each age the the frequency of that age in the persons table.
def age_groups(cursor):
    cursor.execute("SELECT age, COUNT(*) as count FROM persons GROUP BY age ORDER BY age")
    results = cursor.fetchall()
    print("\033[1m\nStep 2: Find the different age groups in the persons database.\033[0m")
    for age, count in results:
        print(f"Age {age}: {count} People")

# Step 3
# Execute query similar to the above but order by count.
# Only return the first result which will be the group with the highest count.
# Fetch the results of the above described query.
# Print the age group with highest count and number of people in that age group.
def max_age_group(cursor):        
    cursor.execute("SELECT age, COUNT(*) as count FROM persons GROUP BY age ORDER BY count LIMIT 1")
    results = cursor.fetchall()
    print("\033[1m\nStep 3: Find the age group that has the maximum number of people.\033[0m")
    print(f"Age {age} has {ppl} people which is the highest count.")

# Step 4
# Execute query to return the first names from every entry in persons database where last name is empty.
# Fetch the results of the above described query.
# Print total number of results.
# Use for loop to nicely print the first entry of the first item in each row, which is the first name.
def no_last_name(cursor):
    cursor.execute("SELECT first_name FROM persons WHERE last_name IS null")
    results = cursor.fetchall()
    print("\033[1m\nStep 4: Find the people who do not have a last name.\033[0m")
    print(f"In total, there are {len(results)} people in the database without a last name.\n")
    for row in results:
        print(row[0])
        
# Step 5
# Execute query to return the owner_id of everyone in the pets database.
# Group by owner ID and only retrieve entries where owner_id apears more than once.
# Fetch the results of the above described query.
# Print total number of results.
def multi_pets(cursor):
    cursor.execute("SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1")
    results = cursor.fetchall()
    print("\033[1m\nStep 5: Find out how many people have more than one pet.\033[0m")
    print(f"{len(results)} people have more than one pet.")
        
# Step 6
# Execute query to return the number of pets in pets database that have an associated treatment_done variable equal to one.
# The treatment_done variable is a binary variable where 0 = no treatments and 1 = a treatment has been done.
# Fetch the results of the above described query.
# Print first item in result variable which is the total number of pets who have recieved treatment.
def pet_treatment(cursor):
    cursor.execute("SELECT count(*) FROM pets WHERE treatment_done = 1")
    result = cursor.fetchone()
    print("\033[1m\nStep 6: Find out how many pets have received treatment.\033[0m")
    print(f"{result[0]} pets have received treatment.")
    
# Step 7
# Execute query similar to the above but order by count but add additional requirment that pet_type is not empty.
# Fetch the results of the above described query.
# Print first item in result variable which is the total number of pets with a known type who have recieved treatment.
def known_pet_treatment(cursor):
    cursor.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
    print("\033[1m\nStep 7: Find out how many pets have received treatment and the type of pet is known.\033[0m")
    result = cursor.fetchone()
    print(f"{result[0]} pets with a known pet type have received treatment.")

# Step 8
# Execute query which joins the pets table and persons table using owner_id and persons.id respectivly as the unique identifiers to be joined on.
# From joined table, return the count of entries where the city is east port.
# Fetch the results of the above described query.
# Print first item in result variable which is the total number of pets from east port.
def east_port_pets(cursor):
    cursor.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
    result = cursor.fetchone()
    print("\033[1m\nStep 8: Find out how many pets are from the city called east port.\033[0m")
    print(f"{result[0]} pets are from east port.")
        
# Step 9
# Execute query similar to the above but add additional requirment that treatment_done=1.
# The treatment_done variable is a binary variable where 0 = no treatments and 1 = a treatment has been done.
# Fetch the results of the above described query.
# Print first item in result variable which is the total number of pets from east port who have received a treatment.
def east_port_pets_treatments(cursor):
    cursor.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
    result = cursor.fetchone()
    print("\033[1m\nStep 9: Find out how many pets are from the city called east port and who received a treatment.\033[0m")
    print(f"{result[0]} pets are from east port and have recieved a treatment.")
    
def main():
    # Set the directory.
    os.chdir('C:/Users/hadle/Downloads')
    
    # Step 1
    # Connect to database.
    conn = sqlite3.connect("petsdb")
    cursor = conn.cursor()
    
    # Call above functions.
    is_opened(conn)
    age_groups(cursor)
    max_age_group(cursor)
    no_last_name(cursor)
    multi_pets(cursor)
    pet_treatment(cursor)
    known_pet_treatment(cursor)
    east_port_pets(cursor)
    east_port_pets_treatments(cursor)
    
    # Close connection to sql database.
    conn.close()
    
# Call to main.
if __name__ == '__main__':
    main()

Step 1: Connect to petsDB and check whether the connection has been successful.
Connection Successul.

Step 2: Find the different age groups in the persons database.
Age 5: 2 People
Age 6: 1 People
Age 7: 1 People
Age 8: 3 People
Age 9: 1 People
Age 11: 2 People
Age 12: 3 People
Age 13: 1 People
Age 14: 4 People
Age 16: 2 People
Age 17: 2 People
Age 18: 3 People
Age 19: 1 People
Age 22: 3 People
Age 23: 2 People
Age 24: 3 People
Age 25: 2 People
Age 27: 1 People
Age 30: 1 People
Age 31: 3 People
Age 32: 1 People
Age 33: 1 People
Age 34: 2 People
Age 35: 3 People
Age 36: 3 People
Age 37: 1 People
Age 39: 2 People
Age 40: 1 People
Age 42: 1 People
Age 44: 2 People
Age 48: 2 People
Age 49: 1 People
Age 50: 1 People
Age 51: 2 People
Age 52: 2 People
Age 53: 2 People
Age 54: 2 People
Age 58: 1 People
Age 59: 1 People
Age 60: 1 People
Age 61: 1 People
Age 62: 2 People
Age 63: 1 People
Age 65: 2 People
Age 66: 2 People
Age 67: 1 People
Age 68: 3 People
Age 69: 1 People
Age 70: 1 People
Age 71: 4 People
Age 72: 1 People
Age 73: 5 People
Age 74: 3 People

Step 3: Find the age group that has the maximum number of people.
Age 73 has 5 people which is the highest count.

Step 4: Find the people who do not have a last name.
In total, there are 60 people in the database without a last name.

Erica
Jordi
Chasity
Gregg
Cary
Francisca
Raleigh
Maria
Mariane
Mona
Kayla
Karlie
Morris
Sandy
Hector
Hiram
Tressa
Berry
Pearline
Maynard
Dorian
Mylene
Lafayette
Tara
Destiny
Lesly
Perry
Maritza
Grant
Laury
Name
Estefania
Destiney
Jaquelin
Alfonzo
Lisandro
Priscilla
Elenora
Rudolph
Ona
Rebeca
Sigurd
Alice
Dane
Judge
Allene
Jalen
Myron
Travon
Shayna
Myah
Letha
Felton
London
Koby
Golden
Anissa
Sid
Ernesto
Josianne

Step 5: Find out how many people have more than one pet.
43 people have more than one pet.

Step 6: Find out how many pets have received treatment.
36 pets have received treatment.

Step 7: Find out how many pets have received treatment and the type of pet is known.
16 pets with a known pet type have received treatment.

Step 8: Find out how many pets are from the city called east port.
49 pets are from east port.

Step 9: Find out how many pets are from the city called east port and who received a treatment.
11 pets are from east port and have recieved a treatment.